.account {
  display: flex;
  font-family: PT Sans Caption, serif;
  &__login {
    display: inline-flex;
    margin-right: 3.3rem;
    align-items: center;
    font-size: 14px;
    color: $main-color;
    svg {
      margin-right: .9rem;
    }
  }
  &__signin {
    width: 176px;
    height: 48px;
    background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
    border-radius: 45px;
    border: none;
    outline: none;

    font-family: PT Sans Caption, sans-serif;
    font-weight: bold;

    color: #FFFFFF;
  }
}
