.container {
  max-width: 1200px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.section__title {
  font-family: PT Sans Caption, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: $main-text-color;
}

.orng-link {
  font-family: PT Sans Caption, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
}

.fs-2032 {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

.orng {
  color: $main-color;
}

.grn {
  color: $secondary-color;
}

.col {
  flex-direction: column;
}
