.message {
  max-width: 1200px;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__return {
    margin-right: 3px;
  }
  &__arrow-right {
    transform: rotate(-90deg);
  }
  &__close {
    margin-left: 6px;
  }
  a {
    color: $dark-grey;
  }
}
