@mixin column-title {
  font-family: PT Sans Caption, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  color: $main-text-color;
}

@mixin caption($fs, $fw) {
  font-family: PT Sans Caption, sans-serif;
  font-size: $fs;
  font-weight: $fw;
  font-style: normal;
}

@mixin card-link {
  position: relative;
  @include caption(1.4rem, 700);
  line-height: 1.8rem;
  text-decoration: underline;
  cursor: pointer;
  &:after {
    position: absolute;
    content: '^';
    font-size: 2.4rem;
    margin-left: .5rem;
    transform: rotate(90deg);
  }
}
