@mixin column-title {
  font-family: PT Sans Caption, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.6rem;
  color: $main-text-color;
}

@mixin pt-sans($fs, $fw, $lh: 3.2rem) {
  font-family: PT Sans, sans-serif;
  font-size: $fs;
  font-weight: $fw;
  font-style: normal;
  line-height: $lh;
}

@mixin caption($fs, $fw) {
  font-family: PT Sans Caption, sans-serif;
  font-size: $fs;
  font-weight: $fw;
  font-style: normal;
}

@mixin card-link {
  position: relative;
  @include caption(1.4rem, 700);
  line-height: 1.8rem;
  text-decoration: underline;
  cursor: pointer;
  &:after {
    position: absolute;
    bottom: 3px;
    content: '^';
    font-size: 2.4rem;
    margin-left: .5rem;
    transform: rotate(90deg);
  }
}

/*@mixin new-orng-btn($min-width: 31.9rem) {
  min-width: $min-width;
  height: 4.8rem;
  padding: 1em 3em;
  background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
  border-radius: 4.5rem;
  border: none;
  outline: none;
  font-family: PT Sans Caption, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}*/

@mixin breakpoint($max-width) {
  @media screen and (max-width: $max-width) {
    @content
  }
}
