/* Colors */
$light-grey: #F4F4F4;
$middle-grey: #999999;
$dark-grey: #6F6F6F;
$main-color: #F76201;
$secondary-color: #178A00;
$main-text-color: #333333;

/* Screen-sizes */
$tablet: 1050px;
$mobile: 600px;