@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

@import "base/variables";
@import "base/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  color: $main-text-color;
  //background: #f8f9f6;
  //background: #f2f2f2;
}

body, h1, h2, h3, h4, p, ul, ol, li {
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
@import "base/common";
@import "blocks/message";
@import "blocks/header";
@import "blocks/searchform";
@import "blocks/buttons";
@import "blocks/account";
@import "blocks/promo";
@import "blocks/comparing";
@import "blocks/try-free";
@import "blocks/list";
@import "blocks/safety";
@import "blocks/tariffs";
@import "blocks/customers";
@import "blocks/card";
@import "blocks/integration";
@import "blocks/work-start";
@import "blocks/reasons";
