.account {
  display: flex;
  font-family: PT Sans Caption, serif;
  &__login {
    display: inline-flex;
    margin-right: 3.3rem;
    align-items: center;
    font-size: 14px;
    color: $main-color;
    svg {
      margin-right: .9rem;
    }
  }
  &__signin {
    min-width: 17.6rem;
  }
}
