.btn {
  min-width: 31.9rem;
  padding: 1em 3em;
  height: 4.8rem;
  background: linear-gradient(180deg, #F76201 0%, #FF4D00 100%);
  border-radius: 4.5rem;
  border: none;
  outline: none;
  font-family: PT Sans Caption, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  &_transparent {
    background: transparent;
    color: $main-text-color;
    border: 2px solid $light-grey;
    border-radius: 39px;
    font-size: 14px;
    line-height: 18px;
  }
  &_mw195 {
    min-width: 195px;
  }
  &_mw170 {
    min-width: 17rem;
  }
  &_grn {
    background: linear-gradient(180deg, #40A800 0%, #178A00 100%);
  }
  &_tr-orng {
    position: relative;
    background: transparent;
    width: 224px;
    height: 48px;
    border: 2px solid $main-color;
    border-radius: 45px;
    padding: 0;
    @include caption(1.3rem, 700);
    line-height: 17px;
    color: $main-color;
    &:after {
      content: '';
      top: 35%;
      width: 12px;
      height: 15px;
      position: absolute;
      background-image: url("../icons/triangle.svg");
      background-repeat: no-repeat;
      margin-left: 20px;
    }
  }
}
