.card {
  display: flex;
  flex-direction: column;
  max-width: 31%;
  margin-bottom: 10rem;

  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.4rem;
  }

  &__title {
    @include column-title;
    line-height: 2.8rem;
    margin-left: 3rem;
  }

  &__descr {
    width: 86%;
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }

  &__details {
    @include card-link;
  }
}

@media screen and (max-width: 1367px) {
  .card {
    &__title {
      margin-left: 7rem;
    }
  }
}

@include breakpoint($tablet) {
  .card {
    &__title {
      font-size: 16px;
      margin-left: 5%;
      line-height: 20px;

    }

    &__header {
      width: 95%;
      align-items: center;
      justify-content: space-evenly;
    }

    &__descr {
      width: 80%;
      margin-left: 8%;
    }

    &__details {
      margin-left: 10%;
    }
  }
}
