.card {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  margin-bottom: 10rem;
  &__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2.4rem;
  }
  &__title {
    @include column-title;
    line-height: 2.8rem;
    margin-left: 3rem;
  }
  &__descr {
    width: 85%;
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }
  &__details {
    position: relative;
    @include caption(1.4rem, 700);
    line-height: 1.8rem;
    text-decoration: underline;
    cursor: pointer;

    &:after {
      position: absolute;
      content: '^';
      font-size: 2.4rem;
      margin-left: .5rem;
      transform: rotate(90deg);
    }
  }
}