.comparing {
  padding-bottom: 10.9rem;

  &__title {
    //margin-bottom: 6.8rem;
    margin-bottom: 7rem;

  }

  &__content {
    display: flex;
    align-items: flex-end;
  }
}

.column {
  min-width: 38.4rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
  border-top: 8px solid $secondary-color;
  border-radius: 8px;

  &:last-child {
    border-color: $main-color;
    margin-left: 2.5rem;

    .column__item:last-child {
      font-weight: bold;
      color: $main-color;
      text-decoration: none;
    }
  }

  &__item:last-child {
    font-weight: bold;
    color: $secondary-color;
    text-decoration: underline;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding: 3.6rem 6rem;
    @include column-title;

    span {
      margin-top: 1rem;
      display: inline-block;
      max-width: 12.2rem;
    }

    p {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    //width: 400px;
    width: 100%;
    min-height: 6rem;
    border-bottom: 1px solid #E4E4E4;
    font-size: 2rem;
    line-height: 3.2rem;
  }

  &-description {
    min-width: 40.8rem;
    border: none;
    box-shadow: none;

    &__title {
      padding: 0 4.1rem 1.6rem 0;
      line-height: 2.9rem;
      color: $middle-grey;
      border-bottom: 1px solid #E4E4E4;
    }

    &__item {
      padding-left: 3rem;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.6rem;

      &:last-child {
        font-weight: normal;
        color: $main-text-color;
        text-decoration: none;
      }
    }
  }
}

.mobile-column {
  display: none;
}


@media screen and (max-width: 1367px) {
  .comparing {
    padding-bottom: 12.9rem;

    &__title {
      margin-bottom: 6.4rem;
    }
  }

  .column {
    min-width: 31.4rem;

    &__title {
      padding: 15px 30px 29px;
      font-size: 18px;
      line-height: 26px;

      span {
        margin-top: 2rem;
      }
    }

    &-description {
      min-width: 33.8rem;

      &__title {
        padding: 0 76px 28px 0;
        line-height: 2rem;
      }

      &__item {
        padding-left: 1rem;
      }
    }

    &__item {
      min-height: 5.4rem;
    }
  }
}

@include breakpoint($tablet) {
  .comparing {
    padding-bottom: 65px;

    &__title {
      margin-bottom: 4.4rem;
    }
  }

  .column {
    display: none;

    &-description {
      display: none;
    }

    &__title {
      padding: 15px 25px 21px 23px;

      span {
        font-size: 16px;
        line-height: 21px;
        margin-top: 13px;
        margin-bottom: 6px;
      }

      p {
        display: block;
      }

      &-link {
        display: none;
      }
    }
  }

  .mobile-column {
    display: block;
    min-width: 30.4rem;
    min-width: 45%;

    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 6.6rem;
      border-bottom: 1px solid #E4E4E4;
      font-size: 1.6rem;
      line-height: 2.1rem;
      padding-left: 10%;

      img {
        display: inline-block;
        margin-right: 20px;
      }

      &:last-child {
        min-height: 8rem;
      }
    }
  }

  .mobile-column:nth-child(3) {
    border-color: #F76201;
    margin-left: 3%;
  }

  .mobile-column:nth-child(3) .mobile-column__item {
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(8),
    &:last-child {
      color: $middle-grey;
    }
  }
}
