.footer {
  &__container {
    border-top: 1px solid #C0C0C0;
    padding-top: 6rem;
  }

  &-nav {
    display: flex;
    justify-content: space-between;

    &__column {
      max-width: 19%;
      display: flex;
      flex-direction: column;

      &-title {
        @include pt-sans(1.6rem, 700);
        margin-bottom: 2rem;
      }
    }

    &__link {
      line-height: 28px;
      color: #333333;

      &_more {
        @include card-link;
        margin-top: 2rem;
        margin-bottom: 9rem;
        color: $main-color;
      }
    }
  }

  &-info {

  }

  &-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
  }

  &-bottom {
    background: #F4F4F4;

    &__container {
      min-height: 5.6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include caption(1.4rem, 400);
      color: $main-text-color;
    }

    &__download {
      margin-right: 1rem;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  width: 33%;
  align-items: flex-start;

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    @include caption(2rem, 700);
    line-height: 26px;
    color: $main-text-color;

    margin-bottom: 13px;
    display: block;
  }

  &__address {
    @include caption(1.4rem, 400);
    line-height: 20px;
  }
}

@media screen and (max-width: 1367px) {
  .footer {
    &-nav {
      &__column {
        max-width: 23%;
      }

      &__link {
        font-size: 1.6rem;

        &_more {
          margin-top: 2.4rem;
          margin-bottom: 5rem;
        }
      }
    }

    &-middle {
      margin-bottom: 4rem;
    }
  }

  .info {
    width: 37%;

    &__phone {
      font-size: 1.8rem;
      line-height: 1.3rem;
    }

    &__logo {
      img {
        width: 74px;
        margin-top: 14px;
      }
    }
  }

  .socials {
    &__link {
      img {
        width: 48.5px;
      }
    }
  }

  .app {
    img {
      width: 146px;
    }
  }
}

@include breakpoint($tablet) {
  .footer {
    &-nav {
      margin-bottom: 3.2rem;

      &__link,
      &__link_more {
        display: none;
      }

      &__column-title {
        font-size: 14px;
        line-height: 32px;
        margin-bottom: 0;
      }
    }

    &-middle {
      display: block;
    }

    &-info {
      width: 100%;
      margin-bottom: 22px;

      &__contacts {
        text-align: end;
      }
    }

    &-middle {
      margin-bottom: 18px;
    }

    &-bottom {
      &__container {
        min-height: 4.6rem;
        font-size: 12px;
        line-height: 16px;

        a {
          color: $main-text-color;
        }
      }
    }
  }

  .socials {
    display: inline-block;
    margin-right: 9%;
  }

  .apps {
    display: inline-block;
  }

  .socials__link img {
    width: 52.5px;
  }
}

@include breakpoint($mobile) {
  .footer {

    &-nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;

      &__column {
        max-width: 100%;
      }
    }

    &-info {
      flex-direction: column;
      align-items: center;

      &__contacts {
        text-align: center;
      }

      &__logo {
        margin-bottom: 20px;
      }
    }

    .socials {
      display: flex;
      justify-content: space-around;
      width: 86%;
      margin: 0 auto;

      &__link img {
        width: 45px;
      }
    }

    .apps {
      display: flex;
      justify-content: center;

      .app img {
        width: 118px;
      }
    }

    &-bottom {
      a {
        display: none;
      }

      &__container {
        justify-content: center;
      }
    }
  }
}