.integration {
  padding-bottom: 4.2rem;

  &__title {
    margin-bottom: 9.5rem;

    &_mobile {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  &__dropdown {
    display: none;
  }
}

@media screen and (max-width: 1367px) {
  .integration {
    padding-bottom: 9rem;

    &__title {
      display: none;

      &_mobile {
        display: block;
        margin-bottom: 12.5rem;
      }
    }

    &__content {
      justify-content: space-around;
    }

    &__card {
      max-width: 36%;
    }
  }
}

@include breakpoint($tablet) {
  .integration {
    padding-bottom: 7rem;

    &__title_mobile {
      margin-bottom: 3rem;
    }

    &__card {
      display: none;
      margin-bottom: 1.8rem;
      max-width: 100%;
      width: 310px;
      min-height: 278px;
      padding: 34px 0 0 0;
      background: #FFFFFF;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border-top: 8px solid $main-color;

      &:first-child,
      &:nth-child(2) {
        display: flex;
      }

      &:nth-child(2n) {
        margin-left: 2%;
      }

    }

    &__dropdown {
      display: inline-block;
    }
  }
}

@include breakpoint($mobile) {
  .integration__dropdown {
    width: 100%;
     margin-left: 0;
    text-align: center;
  }
}
