@media screen and (max-width: 1367px) {
  body {
    font-size: 1.4rem;
  }

  .btn {
    min-width: 28.9rem;
    padding: 1em 2em;

    &_mw170 {
      min-width: 19.3rem;
    }
  }

  .container {
    max-width: 99.4rem;
  }
}

@include breakpoint($tablet) {
  body {
    font-size: 1.6rem;
  }

  .container {
    max-width: 640px;
  }

  .section__title {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  .dropdown {
    margin-left: 4%;
  }
}

@include breakpoint(690px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include breakpoint($mobile) {

  body {
    font-size: 1.6rem;
  }

  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section__title {
    font-size: 1.9rem;
  }
}