.reasons {
  margin-bottom: 9rem;

  &__title {
    margin-bottom: 6rem;
  }

  &__content {
    display: flex;
    margin-bottom: 7rem;
  }

  &__wrapper {
    width: 52%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    width: 47%;
    margin-bottom: 57px;

    &-title {
      @include caption(3.2rem, 700);
      //line-height: 56px;
      line-height: 26px;
      color: $secondary-color;
      margin-bottom: 1.8rem;
    }

    &-text {
      font-size: 20px;
      line-height: 27px;
    }
  }

  &__pic {
    img {
      margin: -6.5rem 0 0 2rem;
    }
  }

  &__details {
    display: block;
    @include card-link;
    margin-top: 3rem;
  }
}

.feedback {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    //display: flex;
    //flex-direction: column;
    width: 45%;
    min-width: 588px;
    //padding: 6.7rem 0 4.5rem 6.7rem;
    padding: 48px 0 45px 77px;
    background: #FFFFFF;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &__author {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &-name {
      @include caption(2rem, 700);
      line-height: 26px;
    }

    &-company {
      @include caption(2rem, 700);
      line-height: 48px;
      color: $middle-grey;
      text-transform: uppercase;
    }

    &-photo {
      width: 8rem;
    }
  }

  &__text {
    width: 88%;
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }

  &__more {
    @include card-link;
    margin-left: 8.4rem;
  }
}

.slider-dots {
  margin: 3.2rem auto;
  margin-bottom: 10px;
  width: 9.2rem;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $middle-grey;

    &:first-child {
      background-color: $main-color;
    }
  }
}

@media screen and (max-width: 1367px) {
  .reasons {
    margin-bottom: 0;
    padding-bottom: 5.5rem;

    &__content {
      margin-bottom: 6rem;
    }

    &__title {
      margin-bottom: 7rem;
    }

    &__wrapper {
      max-width: 48%;
    }

    &__card {
      width: 44%;
      margin-bottom: 7px;

      &-text {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 3rem;
      }
    }

    &__pic {
      max-width: 462px;

      img {
        margin: -35px 0 0 57px;
        width: 100%;
      }
    }

    &__details {
      margin-top: 0;
    }
  }

  .feedback {
    &__item {
      min-width: 485px;
      padding: 45px 0 48px 40px;
    }

    &__author {
      width: 86%;
    }

    button {
      min-width: 22rem;
      font-size: 12px;
    }

    &__more {
      margin-left: 37px;
      font-size: 12px;
    }
  }

  .slider-dots {
    margin-bottom: 0;
  }
}

@include breakpoint($tablet) {
  .reasons {

    &__title {
      margin-bottom: 2rem;
    }

    &__content {
      flex-wrap: wrap;
    }

    &__wrapper {
      max-width: 100%;
      width: 79%;
    }

    &__card {
      &-title {
        font-size: 20px;
        line-height: 56px;
        margin-bottom: 5px;
      }

      &-text {
        font-size: 17px;
        margin-bottom: 2rem;
        width: 84%;
      }
    }

    &__pic img {
      margin: 22px 0 0 70px;
      width: 107%;
    }
  }

  .feedback {
    &__content {

    }

    &__item {
      width: 642px;
      padding: 34px 0 38px 32px;

      &:last-child {
        display: none;
      }
    }

    &__author {
      width: 92%;
      justify-content: space-around;
    }

    &__text {
      width: 99%;
      line-height: 22px;
      margin-bottom: 3rem;
    }

    .btn {
      width: 25rem;
      height: 40px;
    }
  }
}