.safety {
  padding-bottom: 11rem;

  &__title {
    margin-bottom: 1.5rem;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
  }

  &__list {
    max-width: 58.9rem;
    min-height: 30rem;
    padding: 8.1rem 0 3.4rem 0;

    &-item {
      font-size: 2rem;
      line-height: 3.2rem;
    }
  }
}

@media screen and (max-width: 1367px) {
  .safety {
    padding-bottom: 9rem;

    &__title {

      &_hide {
        display: none;
      }
    }

    &__list {
      max-width: 52.9rem;
      padding: 7.2rem 0 0.4rem 0;


      &-item {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
    }

    &__img {
      img {
        width: 87%;
        margin-top: 24px;
      }
    }
  }
}

@include breakpoint($tablet) {
  .safety {
    padding-bottom: 5rem;

    &__img {
      max-width: 308px;

      img {
        max-width: 87%;
        margin-top: 32px;
      }
    }

    &__list {
      max-width: 50%;
      min-height: 34rem;
      padding: 7px 0 0 0;

      &-item {
        font-size: 16px;
        line-height: 24px;

        span {
          padding-left: 17px;
        }
      }
    }
  }
}

@include breakpoint(690px) {
  .safety {
    &__img {
      margin: 0 auto;
    }
  }
}

@include breakpoint($mobile) {
  .safety {
    padding-top: 2.5rem;

    &__title {
      font-size: 19px;
    }

    &__content {
      flex-direction: column-reverse;
      padding-left: 0;
    }

    &__list {
      max-width: 96%;
    }

    &__img {
      //margin-left: 5%;
    }
  }
}