.search-form {
  height: 32px;
  width: 233px;
  padding: 0.3rem 0 0 1.7rem;
  border: 1px solid #B6B6B6;
  border-radius: 45px;

  &__input {
    height: 95%;
    width: 85%;
    background: transparent;
    border: none;
    outline: none;
  }
}
