.try-free {
  padding-bottom: 12.5rem;

  &__title {
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 1367px) {
  .try-free {
    padding-bottom: 10.3rem;
  }
}


@include breakpoint($tablet) {
  .try-free {
    padding-bottom: 7.3rem;

    &__title {
      margin-bottom: 2.3rem;
    }
  }
}

@include breakpoint($mobile) {
  .try-free {
    padding-bottom: 3rem;
  }
}